asgiref==3.11.0
Django==4.2
narwhals==2.14.0
numpy==2.4.0
packaging==25.0
pandas==2.3.3
plotly==6.5.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
